.item {
	display: flex;
	height: 300px;
	position: relative;
	border-radius: 25px;

	> figure {
		flex: 2;
		position: relative;
		overflow: hidden;

		> img {
			max-width: 100%;
			height: fit-content;
		}

		> figcaption {
			position: absolute;
			bottom: 0;
			left: 0;
			background: rgba(255, 255, 255, 0.5);
			width: fit-content;
			padding: 5px 10px;
		}
	}

	> section {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-inline: 5px;
		padding-top: 5px;
		background: transparent;

		> h3 {
			position: absolute;
			top: 0;
			right: 0;
			background: #0007;
			font-size: 1.25rem;
			color: #fff;
			letter-spacing: 2px;
			padding: 5px;
		}

		> p {
			padding-inline: 10px;
			background: rgba(255, 255, 255, 0.4);
			margin-top: 35px;
			height: calc(100% - 75px);
			overflow: hidden;
			text-overflow: ellipsis;
			/* white-space: nowrap; */
			font-size: 0.9rem;
			padding-block: 5px;
		}

		> button {
			display: inline-block;
			padding: 10px 20px;
			width: 100%;
			border: none;
			background-color: #22212175;
			color: #fff7;
			cursor: pointer;
		}
	}
}

@media (max-width: 1200px) {
	.item {
		height: 200px;

		> figure {
			> img {
				height: 100%;
			}
			> figcaption {
				font-size: 0.75rem;
			}
		}

		> section {
			> h3 {
				font-size: 0.85rem;
				padding: 3px;
			}

			> p {
				display: none;
			}

			> button {
				padding: 5px 10px;
			}
		}
	}
}

@media (max-width: 1000px) {
	.item {
		height: 150px;

		> section {
			> h3 {
				font-size: 0.75rem;
				padding: 3px;
			}

			> button {
				padding: 5px 10px;
			}
		}
	}
}
