.grid {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
	position: relative;
	/* background: #2b2b2b; */
}

.grid-totalrows {
	position: absolute;
	right: 15px;
	top: 5px;
	color: #fff7;
}
.grid-totalrows__value {
	margin-inline: 3px;
	color: #fff;
}
