.grid {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
	position: relative;
	/* background: #2b2b2b; */
}

.grid-totalrows {
	position: sticky;
	color: #fff7;
	z-index: 100;
	display: flex;
	justify-content: end;
	top: 40px;
	margin-bottom: 5px;
}
.grid-totalrows__value {
	margin-inline: 3px;
	color: #fff;
}
