.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: transparent;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.85rem;
	color: #fff7;

	.link {
		color: #fff9;
		text-decoration: none;
		margin: 0 5px;
	}
}
