*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: "Verdana", sans-serif;
	background: linear-gradient(to bottom, black, gray);
	position: relative;
}

ul,
li {
	list-style: none;
}
