*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background: #454343;
}

body {
	font-family: "Verdana", sans-serif;
	background: linear-gradient(to bottom, black, gray);
	/* height: 100vh; */
}

ul,
li {
	list-style: none;
}
