.filter-container {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff8;
	padding: 5px;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: calc(50% - 25px);
	left: calc(50% - 600px);

	/* position: sticky;
	top: 0; */
	/* box-shadow: 0px 0px 25px 0px #0005; */
	z-index: 10;

	&.moveTop {
		animation: moveTop 1.25s ease-in forwards;
	}

	> div {
		height: 50px;
		width: 1200px;
		/* border-radius: 5px; */
		border-radius: 10px;
		background: #3d3d3d;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-right: 10px;
		gap: 5px;

		> input[type="text"] {
			padding: 10px;
			border-radius: 5px;
			flex: 1;
			margin-inline: 5px;
			background: transparent;
			border: none;
			outline: none;
			color: #fff;
			font-size: 1.25rem;
		}

		> div.radios {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 5px;

			> div {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 5px;

				> label {
					font-size: 1rem;
					text-transform: lowercase;
				}

				> input[type="checkbox"] {
					margin-left: 20px;
				}
			}

			[type="radio"] {
				display: none;
			}

			label[for] {
				padding: 4px 12px;
				background: rgba(25, 25, 25, 0.25);
				cursor: pointer;
				transition: all 0.25s 0s;
				border-radius: 5px;
				font-size: 0.9rem;
				height: 45px;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			label[for]:hover {
				background: rgba(25, 25, 25, 0.75);
				color: #fff9;
			}

			[type="radio"]:checked + label[for] {
				background: rgba(25, 25, 25, 1);
				color: #fff;
			}
		}
	}
}

.filter-input {
	padding: 10px;
	border: 1px solid #000;
	border-radius: 5px;
	min-width: 300px;
}

.filter-label {
	font-size: 1.5rem;
}

.filter-checkbox {
	margin-left: 10px;
}

@media (max-width: 1420px) {
	.filter-container > div {
		width: 1000px;
	}
}

@media (max-width: 1200px) {
	.filter-container > div {
		display: flex;
		flex-direction: column;
		height: fit-content;
		padding-right: 0;
		align-items: start;

		> input {
			width: 100%;
			font-size: 1rem !important;
		}

		> div.radios {
			padding: 6px 12px;

			label {
				font-size: 0.85rem !important;
			}
		}
	}
}

@keyframes moveTop {
	0% {
		position: fixed;
		top: calc(50% - (3em / 2));
		/* left: calc(50% - (50% / 2)); */
	}

	25% {
		top: -10%;
	}

	30% {
		top: 3em;
	}

	40% {
		top: 2em;
	}

	60% {
		top: 1em;
	}

	80% {
		top: 0.5em;
	}

	100% {
		position: sticky;
		width: fit-content;
		top: 0.5em;
		left: 0.5em;
	}
}
