.filter-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	/* gap: 25px; */
	color: #fff8;
	border-bottom: 1px solid #0008;
	box-shadow: 0px 0px 10px 0px #0008;
	background: #282828;
	position: sticky;
	top: 0;
	z-index: 100;

	> div {
		height: 50px;
		width: 1200px;
		/* background: #454343; */
		background: #3d3d3d;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-right: 10px;
		gap: 5px;
		border-radius: 5px;

		> input[type="text"] {
			padding: 10px;
			border-radius: 5px;
			flex: 1;
			/* min-width: 300px; */
			margin-inline: 5px;
			background: transparent;
			border: none;
			/* border: 1px solid #fff6; */
			outline: none;
			color: #fff;
			font-size: 1.25rem;
		}

		> div.radios {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 10px;

			> div {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 5px;

				> label {
					font-size: 1rem;
					text-transform: lowercase;
				}

				> input[type="checkbox"] {
					margin-left: 20px;
				}
			}
		}
	}
}

.filter-input {
	padding: 10px;
	border: 1px solid #000;
	border-radius: 5px;
	min-width: 300px;
}

.filter-label {
	font-size: 1.5rem;
}

.filter-checkbox {
	margin-left: 10px;
}
